@page
@model RazorPagesMovie.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (@User.IsInRole("Admin")) { 
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item[0].itemImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemImage)
            </td>
            <td>
                    @if (User.IsInRole("Shopkeeper"))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.itemID">Edit</a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.itemID">Details</a>
                @if(User.IsInRole("Shopkeeper"))
                {
                    <a asp-page="./Delete" asp-route-id="@item.itemID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
