@page
@model RazorPagesMovie.Pages.Listings.IndexModel

@{
    ViewData["Title"] = "Index";
    Models.Listing listing = new Models.Listing();
    var photoPath = "~/images/" + (listing.content);
}

<h1>Index</h1>

@if(TempData["message"] != null){
    <p><font color="red">@TempData["message"]</font></p>
}

@if (User.IsInRole("Shopkeeper"))
{ 
<p>
    <a asp-page="Create">Create New</a>
</p>
}

<form>
    <p>
        Item Name: <input type="text" name="NewSearch">
        <input type="submit" value="Filter"/>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].itemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].imageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].itemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listing[0].content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @*@item encodes output. Changes < to &lt*@
@foreach (var item in Model.Listing) {
            var path = Url.Content("~/images/" + item.content);
            <tr>
            <td>
                @item.itemName
            </td>
            <td>
                @item.weight kg
            </td>
            <td>
                $@item.price
            </td>
            <td>
                @item.colour
            </td>
            <td>
                @item.imageName
            </td>
            <td>
                @item.itemType
            </td>
            <td>
                <img src="
                @Html.DisplayFor(modelItem => path)
                " style="height: 200px; width:200px;">
            </td>
            @if (!User.IsInRole("Shopkeeper"))
                {
                    <td>
                    <button type="button" class="button-38" onclick="buyButton()">
                        Buy
                    </button>
                </td>
                }
                @if (User.IsInRole("Shopkeeper"))
                {
                <td>
                <a asp-page="./Edit" asp-route-id="@item.listingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.listingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.listingID">Delete</a>    
                </td>
                }
                @if (!User.IsInRole("Shopkeeper"))
                {
                    <td>
                    <a asp-page="./Details" asp-route-id="@item.listingID">Details</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
